* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

img {
    vertical-align: middle;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input:checked~.box1__controller {
    background-image: url("../images/stol-tennis.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.form__input:checked~.box2__controller {
    background-image: url("../images/basketboll.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.form__input:checked~.box3__controller {
    background-image: url("../images/voleboll.jpeg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.form__input:checked ~ .box4__controller {
    background-image: url("../images/basketboll.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.form__label {
    font-size: 30px;
    margin-left: 20px;  
}

.controller {
    display: inline-block;
    border: 1px solid #ccc;
    background: transparent;
    padding: 10px;
    border-radius: 3px;
}